@charset "utf-8";

@keyframes loading {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(350px);
  }
}

@keyframes grayFilter {
  0% {
    filter: initial;
  }
  100% {
    filter: grayscale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #eff1ed;
}

img {
  vertical-align: top;
}

input {
  vertical-align: top;
  font-family: "Noto Sans KR", sans-serif;
}

button {
  border: 0;
  background-color: transparent;
  vertical-align: top;
  cursor: pointer;
  color: #eff1ed;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  color: #000;
  text-decoration: none;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.toGrayAnimation {
  animation: grayFilter 1s linear forwards;
}

// 모달 헤더 공통
.modal-common {
  display: none;
  position: fixed;
  border-radius: 5px 5px 1px 1px;
  border-left: 3px solid rgb(8, 49, 217);
  border-right: 3px solid rgb(8, 49, 217);
  border-bottom: 3px solid rgb(8, 49, 217);
  background-color: #fff;
}

.modal-common-header1 {
  width: calc(100% + 4px);
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  transform: translateX(-2px);
  background: linear-gradient(
    rgb(0, 88, 238) 0%,
    rgb(53, 147, 255) 4%,
    rgb(40, 142, 255) 6%,
    rgb(18, 125, 255) 8%,
    rgb(3, 111, 252) 10%,
    rgb(2, 98, 238) 14%,
    rgb(0, 87, 229) 20%,
    rgb(0, 84, 227) 24%,
    rgb(0, 85, 235) 56%,
    rgb(0, 91, 245) 66%,
    rgb(2, 106, 254) 76%,
    rgb(0, 98, 239) 86%,
    rgb(0, 82, 214) 92%,
    rgb(0, 64, 171) 94%,
    rgb(0, 48, 146) 100%
  );
  .modal-common-header1-left {
    display: flex;
    align-items: center;
    margin-left: 3px;
    img {
      width: 15px;
      height: 15px;
      margin-right: 3px;
    }
    span {
      font-size: 13px;
      font-weight: 600;
    }
  }
  .modal-common-header1-right {
    display: flex;
    align-items: center;
    margin-right: 3px;
    .btn {
      position: relative;
      width: 21px;
      height: 21px;
      margin-right: 1px;
      cursor: pointer;
      border: 1px solid #fff;
      border-radius: 3px;
      box-shadow: rgb(70, 70, 255) 0px -1px 2px 1px inset;
      background-image: radial-gradient(
        circle at 90% 90%,
        rgb(0, 84, 233) 0%,
        rgb(34, 99, 213) 55%,
        rgb(68, 121, 228) 70%,
        rgb(163, 187, 236) 90%,
        #fff 100%
      );
      &:hover {
        filter: brightness(120%);
      }
      &:active {
        filter: brightness(90%);
      }
    }
    .modal-common-header1-right-btn1::before {
      content: "";
      position: absolute;
      left: 5px;
      top: 13px;
      height: 3px;
      width: 8px;
      background-color: #fff;
    }
    .modal-common-header1-right-btn2::before {
      content: "";
      position: absolute;
      display: block;
      left: 4.5px;
      top: 4px;
      box-shadow: #fff 0px 3px inset, #fff 0px 0px 0px 1px inset;
      height: 12px;
      width: 12px;
    }
    .modal-common-header1-right-btn3 {
      box-shadow: rgb(218, 70, 0) 0px -1px 2px 1px inset;
      background-image: radial-gradient(
        circle at 90% 90%,
        rgb(204, 70, 0) 0%,
        rgb(220, 101, 39) 55%,
        rgb(205, 117, 70) 70%,
        rgb(255, 204, 178) 90%,
        white 100%
      );
      &::before {
        content: "";
        position: absolute;
        left: 9.5px;
        top: 2.5px;
        transform: rotate(-45deg);
        height: 16px;
        width: 2px;
        background-color: #fff;
      }
      &::after {
        content: "";
        position: absolute;
        left: 9.5px;
        top: 2.5px;
        transform: rotate(45deg);
        height: 16px;
        width: 2px;
        background-color: #fff;
      }
    }
  }
}
// 모달 공통 끝

@media screen and (max-width: 768px) {
  //모달 공통
  .flex-1 {
    .microsoft {
      font-size: 30px;
      margin-right: 30px;
    }
    .logo-img {
      width: 250px;
    }
  }
  .windows-wrap {
    .windows {
      font-size: 80px;
    }
    .xp {
      font-size: 60px;
    }
  }
}
